* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

html {
  overflow-y: hidden;
}

#root > div {
  overflow-y: auto;
  height: calc(100% - 64px);
}
